{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>Quote</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0" method = 'post'
            action="{{ url_for('admin.get_quote') }}">
            
            {{form.csrf_token}}
        <input class="form-control mr-sm-2" type="search" placeholder="Search"  aria-label="Search" id ='symbol' name = 'symbol'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Quote</button>
    </form>

    <h1>
        <form action="{{ url_for('admin.get_quote') }}" method="post">
            {{form.csrf_token}}
            {{ form.symbol.label }}<br>{{ form.symbol }}<br>
            {{ form.submit }}
        </form>
    </h1>

{% endblock %}

{% block footer %}{% endblock %}
